* {
    padding: 0;
    margin: 0;
    background-color: #2961c2;
}

.header {
    float: left;
    margin: 20px 30px;
    padding: 20px;
}

.form-group button {
    background-color: #5c88d1;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-bottom: 2px;
    color: white;
    border: none;
    border-radius: 3px;
}

.form-group input {
    border: none;
    width: 200px;
    margin-top: 10px;
    height: 27px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    background-color: #5c88d1;
}

*::placeholder {
    color: white;
}

task-container {
    background-color: #5c88d1;
    color: white;
}